<h1>Enter Property Details</h1>
<p><%= @property.name%><p>
<p><%= @property.city%></p>
<p><%= @property.country%></p>
<p><%= @property.price%></p>
<p><%= @property.status%></p>
<p><%= @property.year%></p>

<%= link_to "Delete", property_path(@property), data: {turbo_method: :delete}%>