<h1><b>Details of the property</b></h1>
<p><b>Property name: <%= @property.name%></b><p>
<p><b>City: <%= @property.city%></b></p>
<p><b>Country: <%= @property.country%></b></p>
<p><b>Price: <%= @property.price%>Rs</b></p>
<p><b>Status: <%= @property.status%></b></p>
<p><b>Year: <%= @property.year%></b></p>

<p><b>Owner: <%= @property.user.name%> </b></p>

<%if user_signed_in? and current_user.id == @property.user_id%>
    <%= button_to "Edit", edit_property_path(@property), method: :get, notice: "Property updated!"%>
    <%= button_to "Delete", property_path(@property), method: :delete%>
<%end%>
<% if user_signed_in? and current_user.role =="customer"%>
    <%if @property.status =="Rent"%>
        <%= button_to "Add to Favorites", new_favorite_path, method: :get%>
    <%end%>
    <%if @property.status =="Sale"%>
        <%= button_to "Add to Favorites", new_favorite_path, method: :get%>
    <%end%>
<%end%>
<h2>Reviews</h2>
<%= render @property.reviews%>

<h2>Add a Review</h2>
<%= render 'reviews/form'%>