<%= simple_form_for(@fav_item) do |f| %>
  <%= f.error_notification %>

  <div>
    <%= f.association :property %>
    <%= f.association :favorite %>
  </div>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>