<%= form_with(model: fav_item) do |form| %>
  <% if fav_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fav_item.errors.count, "error") %> prohibited this favorite item from being saved:</h2>

      <ul>
        <% fav_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :property_id, style: "display: block" %>
    <%= form.text_field :property_id %>
  </div>

  <div>
    <%= form.label :favorite_id, style: "display: block" %>
    <%= form.text_field :favorite_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>