<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="topnav">
        <%= link_to "LuxeLiving", root_path, class: "active" %>
        <% if user_signed_in? and current_user.role == "agent"%>
          <%= link_to "Sell", new_property_path%>
          <%= link_to "Sign Out", destroy_user_session_path, data:{turbo_method: :delete}%>
          <%= link_to "Properties", properties_path%>
          <%= link_to "Favorites", favorites_path%>
        <%end%>

        <% if user_signed_in? and current_user.role == "customer"%>
          <%= link_to "Sign Out", destroy_user_session_path, data:{turbo_method: :delete}%>
          <%= link_to "Properties", properties_path%>
          <%= link_to "Favorites"%>
        <%end%>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
